.menu {
    display: flex;
}

p:first-of-type {
    margin-left: 80px;
}

p {
    display: flex;
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-left: 80px;
    cursor: pointer;
}

.menuElement::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ae847e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuElement:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menuElement:hover {
    color: #ae847e;
}

.menuElement {
    position: relative;
}