.sixthRow {
    display: flex;
    margin-top: 280px;
    margin-bottom: 200px;
}

.leftPanel {
    width: 50%;
}

.rightPanel {
    width: 50%;
}

h1 {
    margin: 0;
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 70%;
}

span {
    font-family: 'Overpass';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

form {
    width: 70%;
}

input {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Overpass';
    font-weight: 700;
    line-height: 23px;
    font-style: normal;
    padding: 20px 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input:last-of-type {
    margin-bottom: 32px;
}

input:focus::placeholder {
    color: transparent;
  }

.rightPanel h1 {
    margin-bottom: 60px;
}

.rightPanel h2 {
    margin-top: 60px;
    margin-bottom: -15px;
    width: 100%;
}