<div class="rightPanel">
    <h1 [@scrollTo]="{value: isVisible, params: {delay: 100}}">Our Latest Work</h1>
    <h2 [@scrollTo]="{value: isVisible, params: {delay: 140}}">{{ currentText }}</h2>
    <h2 [@scrollTo]="{value: isVisible, params: {delay: 140}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
    <app-review [@scrollTo]="{value: isVisible, params: {delay: 140}}"></app-review>
    <app-button [@scrollTo]="{value: isVisible, params: {delay: 200}}" class="thirdBtn" buttonDescription="white" buttonText="Read More" buttonWidth="full"></app-button>
</div>