<div #reference class="mainMessage">
    <video autoplay [muted] ="'muted'" loop id="videobg">
        <source src="../../assets/img/video.mp4" type="video/mp4">
    </video>
    <h1>Splendid designs made easily</h1>
    <h2>Forget about having to bother about to choose and let us help you</h2>
    <app-button class="firstBtn" buttonDescription="black-nb" buttonText="See our prices"></app-button>
    <app-button class="firstBtn" buttonDescription="white-t" buttonText="See our work"></app-button>
</div>
