<div class="fourthRow">
    <h1 [@scrollTo]="{value: fourthRowVisible, params: {delay: 100}}">Best value to price proportion</h1>
    <h2 [@scrollTo]="{value: fourthRowVisible, params: {delay: 200}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <div class="btnSection">
        <app-button [@scrollTo]="{value: fourthRowVisible, params: {delay: 600}}" class="btn" buttonDescription="brown" buttonText="See our prices"></app-button>
        <app-button [@scrollTo]="{value: fourthRowVisible, params: {delay: 800}}" class="btn" buttonDescription="white" buttonText="See our work"></app-button>
    </div>
</div>
