.menuList {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: right;
    gap: 63px;
    color: white;
}

.menuList p {
    cursor: pointer;
}

.menuElement {
    position: relative;
}

.menuElement::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ae847e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuElement:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menuElement:hover {
    color: #ae847e;
}